{% extends 'base.html' %}

{% block content %}
<style>
    * {
        font-family: 'Arial';
        text-align: center;
        vertical-align: middle;
    }
    h1, h2 {
        color: black;
    }
    th, td {
        font-size: 120%;
        padding: 12px 15px
    }
    table{
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
        font-size: 0.9em;
        font-family: sans-serif;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        border-radius: 6px;
    }
    .button {
        border: none;
        color: white;
        font-weight: bold;
        text-decoration: none;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 6px;
        box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2), 0 8px 13px 0 rgba(0,0,0,0.19);
    }
    .padding {
        padding-left: 60px;
        padding-right: 60px;
    }
    .wrap {
        display: flex;
        align-items: center;
        align-content: flex-start;
        justify-content: space-between;
    }
</style>

<div class="padding">
    <h1 style="margin-bottom: 50px; font-size: 50px;">Hello {{username}}!</h1>
    <div class="wrap">
        <h2 style="font-size: 30px;"> This to Your To Do List!</h2>
        <a href="{% url 'todolist:create-task' %}" class="button" style="background-color: #6200EE">Create New Task</a>
    </div>

        <table>
            <tr>
            <th style="width: 15%; font-weight: bold">Date</th>
            <th style="width: 15%; font-weight: bold">Task</th>
            <th style="width: 25%; font-weight: bold">Description</th>
            <th style="width: 10%; font-weight: bold">Status</th>
            <th style="width: 23%; font-weight: bold">Change Status</th>
            <th style="width: 13%; font-weight: bold">Delete</th>
            </tr>
            {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
            {% for todo in list_of_todos %}
                <tr style="height: 70px">
                    <td>{{todo.date}}</td>
                    <td>{{todo.title}}</td>
                    <td>{{todo.description}}</td>
                    <td>
                        {% if todo.status %}
                            Done
                        {% else %}
                            Not Started
                        {% endif %}
                    </td>
                    <td><a href="{% url 'todolist:update_task' todo.pk %}", class="button" style="background-color: #01C89A">Change Status</a></td>
                    <td><a href="{% url 'todolist:delete_task' todo.pk %}", class="button" style="background-color: #FF642F">Delete</a></td>
                </tr>
            {% endfor %}

        </table>
        <a href="{% url 'todolist:logout' %}" class="button" style="float: right; background-color: #6200EE">Logout</a>
</div>
{% endblock content %}